<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAACgGH-mRCw5jgbqNsP6uUTK1ED3nsNoA</string>
	<key>GCM_SENDER_ID</key>
	<string>263495510275</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tallyUp</string>
	<key>PROJECT_ID</key>
	<string>tallyup-7ddd2</string>
	<key>STORAGE_BUCKET</key>
	<string>tallyup-7ddd2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:263495510275:ios:3686eb21d638d8c6bd6136</string>
</dict>
</plist>